.calorieSection {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.mntncCal {
  display: grid;

  border-radius: 5px;
  .calPerDay {
    border: solid 1px black;
    background-color: orange;
  }
  margin-right: 10px;
  width: 200px;
}

.actvForm {
  display: grid;
  grid-template-columns: 200px 200px;
}

.bottom {
  border-bottom: solid 1px black;
}

.caloriesBottom {
  border-bottom: solid 1px black;
}
