.main {
  background: #f3f6f4;
  margin: auto;
  padding: auto;
  height: 50rem;
  border: 1px solid black;
  width: 40rem;

  @media all and (max-width: 450px) {
    width: 100vw;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information {
  font-weight: 900;
  font-size: 4rem;
}

.Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: tahoma;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.main {
  p {
    font-weight: 150;
    font-size: 1.25em;
    text-align: center;
  }
}
